.getcurrLocation{
    flex-direction: row;
    align-items: flex-start;
}

.getcurrLocation>i{
    font-weight: 500;
    font-size: 12px;
    color: rgb(0, 98, 255);
    text-decoration: underline;
}

.getcurrLocation>p{
    color: grey;
    font-weight: 500;
    font-size: 15px;
}