.notfound {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    color:rgb(75, 74, 74) !important;
    text-align: center;
    flex-direction: column;
    gap:5px;
    min-height: 100vh;
    background:linear-gradient(0deg , rgba(25, 25, 25, 0.081),rgba(87, 87, 87, 0))
}

.notfound>img{
    width:calc(100% - 40px);
    max-width: 300px;
    margin:20px;
    object-fit: cover;


}
.btn-div{
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    width:100%;
}
.btn-home{
    display: inline-block;
    padding: 9px 40px;
    background: #0d6efd;
    color: rgb(254, 254, 254);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    transition: 0.3s;
}

.btn-home:hover{
    background: #0b5ed7;
    transform: scale(1.05);
}
.notfound>p{
    font-size: 13px;
    color: rgb(105, 97, 97);
    font-weight: 500;
}