.indexx {
    width: 100%;
    flex-direction: column;
    gap: 0px;
}

/* ----------------------------------one tab ------------- */

.oneTab {
    cursor: pointer;
    width: 100%;
    user-select: none;
    position: relative;

}

.oneTab>.flotName {
    transition: .3s ease;
    scale: 0;
    position: absolute;
    left: 100%;
    padding: 8px 16px;
    border-radius: 20px 10px 10px 20px;
    background-color: rgb(52, 52, 52);
    font-size: 13px;
    font-weight: 500;
    color: white;

}

.oneTab>.inTab {
    transition: .2s ease;
    width: 100%;
    justify-content: flex-start;
    gap: 8px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 10px;
}

.oneTab:hover>.inTab {
    scale: .95;
}

.oneTab:active>.inTab {
    scale: .85;

}

.oneTab>.inTab>.tabIcon {
    transition: .2s ease;
    width: 40px;
    aspect-ratio: 1/1;
    aspect-ratio: 1/1;
    padding: 2px;
    border-radius: 50%;

}

.oneTab>.inTab>.tabIcon2 {
    fill: rgb(74, 74, 74);
}

.oneTab:hover>.inTab>.tabIcon2 {
    fill: rgb(0, 0, 0);
}

.oneTab>.inTab>.current2 {
    stroke: rgb(0, 87, 186) !important;
    fill:rgb(0, 87, 186) ;
}

.oneTab>.inTab>.tabIcon>path {
    stroke: rgb(74, 74, 74);
}

.oneTab>.inTab>.current>path,
.oneTab>.inTab>.current2 {
    stroke: rgb(0, 87, 186) !important;
}


.oneTab:hover>.inTab>.tabIcon>path {
    stroke: rgb(0, 0, 0);
}


.oneTab>.inTab>.textIcon {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.oneTab>.inTab>.tabName {
    background: linear-gradient(-45deg, rgba(66, 65, 65, 0.789), rgb(0, 41, 87));
    background-clip: text;
    color: transparent;
}


.oneTab:hover>.inTab>.tabName {
    background: linear-gradient(-45deg, rgba(66, 65, 65, 0.836), rgb(0, 119, 255));
    background-clip: text;
    color: transparent;
}


@media (max-width:900px) {
    .indexx {
        gap: 5px;
    }

    .oneTab>.inTab>.tabName {
        display: none;
    }

    .oneTab:hover>.flotName {
        scale: 1;
    }

    .oneTab>.inTab {
        justify-content: center;
    }

}

@media (max-width:600px) {
    .indexx {
        gap: 5px;
    }

    .oneTab>.inTab>.tabName {
        display: flex;
    }

    .oneTab:hover>.flotName {
        scale: 0;
    }

    .oneTab>.inTab {
        justify-content: flex-start;
    }

}